<section class="act-homepg">
  <h2>Activities Home</h2>
  <ul class="activities-list">
    <li ng-repeat="activity in activities">
      <a href="#/activity-display/{{activity.id}}" class="act-name">{{activity.full_description}}</a>
    </li>

    <li class="new-activity">
      <h4>Add New Activity</h4>
      <form>
        <input type="text" placeholder="New Activity"></input>
      </form>
      <span class="submit">
        <button><strong>Submit</strong></button>
      </span>
    </li>
  </ul>
</section>
