<h1>Activity Display</h1>
  <h4>{{Activity Title}}</h4>
  <h4>{{Username}}</h4>
<table class="activity-display">
  <thead class="table-header">
    <th>How Many</th>
    <th>Date</th>
  </thead>
  <tr>
    <td>{{reps}}</td>
    <td>{{date}}</td>
  </tr>
  <tr>
    <td>{{reps}}</td>
    <td>{{date}}</td>
  </tr>
  <tr>
    <td>{{reps}}</td>
    <td>{{date}}</td>
  </tr>
  <tr>
    <td>{{reps}}</td>
    <td>{{date}}</td>
  </tr>
  <tr>
    <td>{{reps}}</td>
    <td>{{date}}</td>
  </tr>
  <tr>
    <td>{{reps}}</td>
    <td>{{date}}</td>
  </tr>
  <tr>
    <td>{{reps}}</td>
    <td>{{date}}</td>
  </tr>
  <tr>
    <td>{{reps}}</td>
    <td>{{date}}</td>
  </tr>
</table>
