<section class="form">
  <h2>Add an Activity</h2>
    <form class="activity-form" ng-submit="activityCreate.logActivity($form)">
      <h4>Activity name:</h4>
      <input type="text" placeholder="activity" ng-model="activityCreate.activities.full_description"></input>
      <input type="text" placeholder="unit" ng-model="activityCreate.activities.units"></input>
      <!-- <h4>How many?</h4>
      <input type="number" name="reps" ng-model="activityCreate.activities.datapoints.reps">
      <h4>Date</h4>
      <input type="date" name="date" ng-model="activityCreate.activities.datapoints.date"> -->

      <button type="submit" class="submit">Submit</button>
    </form>
</section>


<!--TODO: Make this ONLY activity name  -->
