<section class="form">
  <h2>Login</h2>
  <form class="login-form col-3" ng-submit="login.logUser($form)">
    <input type="text" class="username" placeholder="username" ng-model="login.user.user_name"></input>
    <input type="password" class="password" placeholder="******" ng-model="login.user.password"></input>

    <span class="redirect">
      <button id="login-submit"><strong>Submit</strong></button>
      <p>Not a member? <a href="#/signup" id="redirect-signup">Sign-up</a></p>
    </span>
  </form>
</section>
