@media (max-width: 767px) {           //MOBILE
  .act-homepg {     //ACTIVITY-HOMEPAGE
    width: 100%;

    h2 {
      color: #5bc0de;
      font-size: 30pt;
      text-align: center;

      &::after {
        content: '\f015';
        font-family: FontAwesome;
        font-size: 30pt;
      }
    }//end h2

    ul {
      margin: 0 auto;
      list-style: none;
      width: 80%;

      li{
          border: 1px solid #e0e0e0; //LIGHT GREY
          padding: 5%;

        a {
          text-decoration: none;
          font-size: 20pt;
          color: #1a3750; //DARK BLUE
        }
      }//END LI
        .new-activity{
          margin: 0 auto;

          a {
            text-align: center;
            color: #5cb85c;
            font-size: 16pt;
          }

          form {
            margin: 0 auto;
            text-align: center;
          }
          input {
            text-align: center;
            padding: 2%;
          }

          .submit {
            margin: 0 auto;
            text-align: center;

            button {
              width: 65%;
              font-size: 16pt;
              background-color: #5bc0de; //MEDIUM BLUE
              border: none;
              display: block;
              margin: 0 auto;
              margin-top: 20px;



              strong {
                display: block;
                margin: 10 auto;
                padding: 30px;
                color: #fff;
              } //END STRONG
            }//END BUTTON
          }//END .SUBMIT
        }//END .NEW-ACTIVITY
    }//END UL

  } //END OF ACTIVITY-HOMEPAGE

  .form {
    width: 100%;

    h2 {
      color: #5bc0de; //LIGHT BLUE
      font-size: 30pt;
      text-align: center;
    }

    .login-form { //TODO: EDIT FOR ACTIVITIES
      margin: 0 auto;

      input {
      display: block;
      margin: 0 auto;
      margin-top: 75px;
      padding: 5%;
      width: 80%;
      font-size: 40pt;
    }
  } //END .LOGIN_FORM
    .redirect {         //TODO: RENAME CLASS AND ADD SPAN?
      display: block;
      margin: 0 auto;
      margin-top: 5px;
      text-align: center;

      button {
        width: 65%;
        font-size: 18pt;
        margin-top: 70px;
        background-color: #5bc0de;
        border: none;
        strong {
          display: block;
          margin: 10 auto;
          padding: 30px;
          color: #fff;
        } //END STRONG
      } //END BUTTON
    }//END REDIRECT
  }//END .FORM
}//END MOBILE


@media (max-width: 1024px) and (min-width: 768px){      //TABLET

}


@media (min-width: 1025px) {            //DESKTOP

}
