.title {
  padding: 3%;
  background-color: #5cb85c;
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
  font-size: 25pt;

  .nav-bar {
    a {
      text-decoration: none;
      color: #fff;
      font-size: 20pt;
      display: none;
      a.active {
        display: block;
      }
    }//END A
  }//END .NAV-BAR
}//END OF .TITLE
