.title {
  padding: 3%;
  background-color: #5cb85c; //GREEN
  margin-bottom: 80px;
  text-align: center;

  #pagetitle {
    color: #fff;
    text-align: center;
    font-size: 50pt;
    text-decoration: none;
    font-family: 'Lobster', cursive;

  }

  .nav-bar {

    a {
      text-decoration: none;
      color: #fff;
      font-size: 20pt;


    }//END A
  }//END .NAV-BAR
}//END OF .TITLE
