.title {
  padding: 3%;
  background-color: #5cb85c; //GREEN
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
  font-size: 25pt;


  .nav-bar {

    a {
      text-decoration: none;
      color: #fff;
      font-size: 20pt;


    }//END A
  }//END .NAV-BAR
}//END OF .TITLE
