@media (max-width: 767px) {           //MOBILE
  .form {
    width: 100%;

    .login-form {
      margin: 0 auto;


      input {
      display: block;
      margin: 0 auto;
      margin-top: 75px;
      padding: 5%;
      width: 80%;
      font-size: 40pt;
    }
  } //END .LOGIN_FORM
    .redirect {
      display: block;
      margin: 0 auto;
      margin-top: 5px;
      text-align: center;

      button {
        width: 65%;
        font-size: 18pt;
        margin-top: 70px;
        background-color: #5bc0de;
        border: none;
        strong {
          display: block;
          margin: 10 auto;
          padding: 30px;
          color: #fff;
        } //END STRONG
      } //END BUTTON
      p {
        font-size: 16pt;
      }
      a {
        font-size: 20pt;
        color: #428bca;
      }
    }//END REDIRECT

  .signup {

    input {
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    padding: 5%;
    width: 80%;
    font-size: 38pt;
  }

  }//END OF .SIGNUP
}//END .FORM

}//END OF MOBILE


@media (max-width: 1024px) and (min-width: 768px){      //TABLET

}


@media (min-width: 1025px) {            //DESKTOP

}
